#ifndef SECRETS_H
#define SECRETS_H

// Worker endpoint for heartbeat check
const char* WORKER_HOSTNAME = "your.worker.endpoint.here";

const char* WIFI_SSID = "your_wifi_ssid_here";
const char* WIFI_PASSWORD = "your_wifi_password_here";

const char* LOCATION_NAME = "your_location_name_here";

// Optional: Cloudflare Access credentials
const char* CF_ACCESS_CLIENT_ID = "your_cf_access_client_id_here";
const char* CF_ACCESS_CLIENT_SECRET = "your_cf_access_client_secret_here";


#endif
